@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

button {
    margin-left: 30px;
    height: 30px;
    width: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 2px -2px lightgray;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 300;
}

.nav-left {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    flex-direction: row;
}

#show-menu {
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('icons/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 2% center;
    background-size: 18px;
}

.nav-center {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: 80px;
    height: 32px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.heading {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 35px;
    cursor: pointer;
}

.nav-right {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

#display-amount {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(10, 50, 109, 0.65);
}

.side-menu {
    position: fixed;
    height: 75vh;
    width: 14.5vw;
    left: -30vw;
    transition: ease-out 500ms;
    z-index: 250;
    background-color: white; 
}

.side-menu--open {
    left: 0;
    transition: ease-in 500ms;
}

.menu-information {
    display: flex;
    flex-direction: column;
}

.menu-information ul {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.menu-links li {
    list-style: none;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: block;
}

.menu-links a {
    text-decoration: none;
    display: block;
    color: black;
}

.menu-links li:hover {
    background-color: rgb(1, 31, 75, 0.65);
}

.menu-links li:hover a {
    color: white;
}

.close-side-menu { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(10, 50, 109, 0.65);
    width: 100%;
    height: 5vh;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    bottom: 0;
    cursor: pointer;
}

.shopping-cart-wrapper {
    position: relative;
}

.shopping-cart {
    position: fixed;
    right: -505px;
    height: 75vh;
    width: 505px;
    box-shadow: -4px 0px 2px -2px lightgray;
    transition: ease-out 500ms;
    background-color: white;
    z-index: 100;
}

.cart-text {
    padding: 35px;
    font-size: 20px;
}

.fas {
    cursor: pointer;
}

.cart-products {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-left: 35px;
    z-index: 300;
}

.cart-products i {
    cursor: pointer;
}

.product-info {
    flex-direction: column;
}

.shopping-cart img {
    width: 100px;
    margin: 15px;
}

.shopping-cart--open {
    right: 0;
    transition: ease-in 500ms;
}

#shopping-icon {
    cursor: pointer;
}

.total-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.65);
    color: rgb(59, 59, 59);
    font-weight: bold;
    bottom: 5vh;
}

.checkout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(10, 50, 109, 0.65);
    width: 100%;
    height: 5vh;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    bottom: 0;
    cursor: pointer;
}

.main-page {
    position: relative;
}
.offer-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 700px;
}

.offer-image {
    margin-top: 50px;
    width: 100%;
}

.dummy-text img {
    margin-top: 15px;
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 50px;
}

.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.image-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image {
    margin: 5px;
    width: 180px;
}

.thumbnail-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 2px;
    overflow: hidden;
}

.description {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-page {
    display: none;
}

.back-start-button {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.back-start-button:hover {
    color: rgb(0, 67, 122);
}

.information-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin: auto;
    width: 750px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    flex-direction: row;
}

.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter-menu {
    position: fixed;
    height: 75vh;
    width: 16%;
    left: -25%;
    transition: ease-out 500ms;
    background-color: white;
}

.filter-wrapper {
    position: relative;
    height: 100%;
}

.filter-menu--open {
    left: 0;
    transition: ease-in 500ms;
}

.filter-options h3 {
    padding-top: 30px;
    padding-left: 20px;
}

.filter-color {
    padding: 20px;
}

.filter-color p {
    padding-bottom: 25px;
}

.color-options {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding-bottom: 10px;
}

#light-coral {
    color: lightcoral;
    padding-right: 10px;
    cursor: pointer;

}

#beige {
    color: beige;
    padding-right: 10px;
    cursor: pointer;
}

#pink {
    color: rgb(237, 151, 240);
    padding-right: 10px;
    cursor: pointer;
}

#orange {
    color: orange;
    padding-right: 10px;
    cursor: pointer;
}

#blue {
    color: rgb(0, 140, 255);
    padding-right: 10px;
    cursor: pointer;
}

#green {
    color: rgb(48, 177, 48);
    padding-right: 10px;
    cursor: pointer;
}

#yellow {
    color: rgb(255, 255, 0);
    padding-right: 10px;
    cursor: pointer;
}

#brown {
    color: rgb(102, 64, 64);
    padding-right: 10px;
    cursor: pointer;
}

#gray {
    color: gray;
    padding-right: 10px;
    cursor: pointer;
}

#black {
    color: black;
    padding-right: 10px;
    cursor: pointer;
}

.filter-price {
    padding-top: 20px;
    padding-left: 20px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    width: 100%;
    height: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    color: black;
    margin: 0;
}

.price-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
}

.seperation-line {
    height: 2px;
    width: 100%;
    background-color: rgb(10, 50, 109, 0.65);
}

.filter-brand {
    padding-left: 20px;
    padding-top: 20px;
}

.filter-brand p {
    padding-bottom: 10px;
}

.save-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(10, 50, 109, 0.65);
    width: 100%;
    height: 5vh;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    bottom: 0;
    cursor: pointer;
}

.sort-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 470px;
    height: 32px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
}

.dropdown-sort {
    position: relative;
    display: inline-block;
    z-index: 10;

}

.dropdown-content {
    margin-left: 470px;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show-sort {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.product-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 50px;
    flex-direction: column;
}

.product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.product-page {
    display: none;
    height: 75vh;
}

.back-button {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.back-button:hover {
    color: rgb(0, 67, 122);
}

.fa-chevron-left {
    margin-right: 10px;
}

.product-page-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 850px;
    overflow: hidden;
    padding: 5px;
}

.product-images {
    display: flex;
    flex-direction: column;
    width: 600px;
    float: left;
    overflow: hidden;
    padding: 10px;
}

.main-image {
    position: relative;
    width: 100%;
}

.main-image img {
    width: 100%;
    display: block;
}

.thumbnail-container {
    display: flex;
    position: relative;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}

.thumbnail-image {
    margin: 5px;
    height: 60px;
    width: 80px;
}

.active {
    border: solid rgb(206, 206, 206);
}

.product-information {
    padding: 20px;
    vertical-align: top;
}

.color-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 10px;
}

.dropdown-color {
    position: relative;
    display: inline-block;
}

.show-dropdown-color-content {
    display: block;
}

.dropdown-color-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.show-dropdown-color-content {
    display: block;
}

.dropdown-color-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 3px;
    padding-left: 7px;
}

#color-1 {
    display: flex;
    justify-content: center;
    width: 50px;
    overflow: hidden;
}

#color-2 {
    display: flex;
    justify-content: center;
    width: 50px;
    overflow: hidden;
}

.dropdown-color-content a:hover {
    background-color: #ddd;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 15px;
}

.fa-chevron-down {
    margin-left: 10px;
}

.fa-chevron-up {
    margin-left: 10px;
}

.fa-chevron-right {
    margin-left: 10px;
}

.quantity {
    display: flex;
    padding-top: 15px;
    justify-content: left;
    align-items: left;
    flex-direction: row;
}

.fa-minus {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-plus {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    width: 100%;
    background-color: rgb(1, 31, 75, 0.65);
    margin-top: 15px;
    padding: 0;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links li {
    color: white;
    list-style: none;
    padding-right: 25px;
}

#facebook {
    color: white;
    margin-top: 10px;
    padding: 10px;
}

#instagram {
    color: white;
    margin-top: 10px;
    padding: 10px;
}

#twitter {
    color: white;
    margin-top: 10px;
    padding: 10px;
}