* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 2px -2px lightgray;
    height: 10vh;
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-left {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
}

input[type=text] {
    width: 100%;
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-image: url('icons/search-solid.svg');
    background-repeat: no-repeat;
    background-position: 2% center;
    background-size: 18px;
}

.nav-center {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.nav-right {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}

.side-menu {
    position: absolute;
    height: 75vh;
    width: 14.3%;
    left: -14.3%;
    background-color: lightcoral;
    box-shadow: 4px 0px 2px -2px lightgray;
    transition: ease-out 500ms;
}

.side-menu--open {
    left: 0;
    transition: ease-in 500ms;
}

.shopping-cart {
    position: absolute;
    height: 75vh;
    width: 20%;
    margin-left: 80%;
    background-color: lightcoral;
}

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 750px;
}

.offer-image {
    margin-top: 50px;
    width: 100%;
}

.dummy-text img {
    margin-top: 15px;
    margin-bottom: 5px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10px;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-image {
    margin: 5px;
    width: 180px;
}

.thumbnail-color {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    border-width: 2px;
    overflow: hidden;
}

.description {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    flex-direction: column;
    margin: auto;
    width: 750px;
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 10px;
    flex-direction: row;
}

.filter-button {
    width: 70px;
    height: 32px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.sort-button {
    margin-left: 470px;
    height: 32px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.dropdown-sort {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 470px;
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px;
    font-size:  13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.product-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    flex-direction: column;
}

.product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.product-page {
    display: none;
}

.product-page-content {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 850px;
    overflow: hidden;
    padding: 5px;
}

.product-images {
    display: flex;
    flex-direction: column;
    width: 600px;
    float: left;
    overflow: hidden;
    padding: 10px;
}

.main-image {
    position: relative;
    width: 100%;
}

.main-image img {
    width: 100%;
    display: block;
}

.thumbnail-container {
    display: flex;
    position: relative;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
}

.thumbnail-image {
    margin: 5px;
    height: 60px;
    width: 80px;
}

.active {
    border: solid rgb(206, 206, 206);
}

.product-information {
    padding: 20px;
    vertical-align: top;
}

.color-button {
    height: 32px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 10px;
}

.dropdown-color {
    position: relative;
    display: inline-block;
}

.dropdown-color-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-color-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 3px;
    padding-left: 7px;
}

.thumbnail-color-image {
    display: flex;
    justify-content: center;
    width: 50px;
    overflow: hidden;
}

.dropdown-color-content a:hover {
    background-color: #ddd;
}

.add-button {
    height: 40px;
    width: 200px;
    border: 1px solid #BDBDBD;
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 15px;
}

.fa-chevron-down {
    margin-left: 10px;
}

.fa-chevron-up {
    margin-left: 10px;
}

.fa-chevron-right {
    margin-left: 10px;
}

.quantity {
    display: flex;
    padding-top: 15px;
    justify-content: left;
    align-items: left;
    flex-direction: row;
}

.fa-minus {
    margin-left: 10px;
    margin-right: 10px;
}
.fa-plus {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    width: 100%;
    background-color: rgb(1, 31, 75, 0.65);
    margin-top: 15px;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links li {
    color: white;
    list-style: none;
    padding-right: 25px;
}

#facebook {
    color: white;
    margin-top: 10px;
    padding: 10px;
}

#instagram {
    color: white;
    margin-top: 10px;
    padding: 10px;
}

#twitter {
    color: white;
    margin-top: 10px;
    padding: 10px;
}