* {
    padding: 5px;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.formular {
    display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-direction: column; 
}